:root {
  --primary-color: #3a37a0;
  --primary-shadow: rgba(58, 55, 160, 0.5);
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --input-color: #fff;
  --white: #fff;
  --input-border-color: #ccc;
  --heading-color: #292922;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #3a37a0;
    --primary-shadow: rgba(58, 55, 160, 0.5);
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --input-color: #2c2c3f;
    --input-border-color: #3e3e58;
    --heading-color: #818cab;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--bg-color);
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
