.formControl {
  margin-bottom: 0.5em;
}
.formLabel {
  margin-bottom: 4px;
  font-weight: 400;
}
.formInput {
  padding: 8px;
  border-radius: 4px;
  font-family: sans-serif;
  margin: 8px 0;
  background-color: var(--input-color);
  outline: 0;
  width: 100%;
  border: 1px solid var(--input-border-color);
  color: var(--font-color);
}

.btn {
  padding: 0.75em 1.5em;
  background-color: var(--primary-color);
  color: var(--white);
  border: 0;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  outline: 0;
  transition: transform cubic-bezier(0.3, 0.1, 0.27, 0.99) 0.4s;
}

.btn:hover {
  transform: scale(1.1);
}
.btn:focus,
.formInput:focus {
  box-shadow: 0 0 0 3px var(--primary-shadow) !important;
}
